<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=simplilearn"/>
        <listEntry value="artifactId=project_bdd"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=simplilearn.project_bdd"/>
        <listEntry value="outputDirectory=/Users/anitha.vijay/Desktop/Anitha_Workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/3g/tslhj_ls1vxcl38w31vwdk4m0000gp/T/m2e-archetypeGenerator60588699847057481"/>
</launchConfiguration>
